<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias alias="int" type="java.lang.Integer"/>
		<typeAlias alias="Integer" type="java.lang.Integer"/>
		<typeAlias alias="long" type="java.lang.Long"/>
		<typeAlias alias="Long" type="java.lang.Long"/>
		<typeAlias alias="string" type="java.lang.String"/>
		<typeAlias alias="String" type="java.lang.String"/>
		<typeAlias alias="map" type="java.util.Map"/>
		<typeAlias alias="Map" type="java.util.Map"/>
		<typeAlias alias="HashMap" type="java.util.HashMap"/>
		<typeAlias alias="hashmap" type="java.util.HashMap"/>
		
		<typeAlias alias="User" type="com.mobilepark.did.user.model.User"/>
		<typeAlias alias="Info" type="com.mobilepark.did.info.model.Info"/>
		<typeAlias alias="Kiosk" type="com.mobilepark.did.kiosk.model.Kiosk"/>
		<typeAlias alias="Qrcode" type="com.mobilepark.did.qrcode.model.Qrcode"/>
	</typeAliases>
	
	<mappers>		
		<mapper resource="com/mobilepark/did/login/sql/login.xml"/>
		<mapper resource="com/mobilepark/did/user/sql/user.xml"/>	
		<mapper resource="com/mobilepark/did/info/sql/Info.xml"/>
		<mapper resource="com/mobilepark/did/kiosk/sql/Kiosk.xml"/>
		<mapper resource="com/mobilepark/did/qrcode/sql/Qrcode.xml"/>
	</mappers>

</configuration>